<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="#" class="img-responsive" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit reprehenderit consectetur consequuntur, veniam fugit necessitatibus sint corrupti hic? Provident exercitationem sit quaerat eligendi deserunt fugiat eaque similique architecto, illo est.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="#" class="img-responsive" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit reprehenderit consectetur consequuntur, veniam fugit necessitatibus sint corrupti hic? Provident exercitationem sit quaerat eligendi deserunt fugiat eaque similique architecto, illo est.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="#" class="img-responsive" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit reprehenderit consectetur consequuntur, veniam fugit necessitatibus sint corrupti hic? Provident exercitationem sit quaerat eligendi deserunt fugiat eaque similique architecto, illo est.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Second Row -->

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="#" class="img-responsive" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit reprehenderit consectetur consequuntur, veniam fugit necessitatibus sint corrupti hic? Provident exercitationem sit quaerat eligendi deserunt fugiat eaque similique architecto, illo est.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="#" class="img-responsive" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit reprehenderit consectetur consequuntur, veniam fugit necessitatibus sint corrupti hic? Provident exercitationem sit quaerat eligendi deserunt fugiat eaque similique architecto, illo est.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="#" class="img-responsive" alt="">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit reprehenderit consectetur consequuntur, veniam fugit necessitatibus sint corrupti hic? Provident exercitationem sit quaerat eligendi deserunt fugiat eaque similique architecto, illo est.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>